// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
$base-color: #005588;

@import "compass/css3/shared";
@import "compass/css3/box";
$experimental-support-for-pie: false;
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


@import 'includes/list';
@import 'includes/capturepicture';
@import 'includes/icons';
@import 'includes/estilos';
// Examples of using the icon mixin:
// @include icon('user');

