.picture-capture{
    background-image: linear-gradient(#1676b9,#10598d);
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px #1a86d2;
    border:1px solid #000000;
    border-width:1px;
    overflow: hidden;
    margin:20px auto;

    input{
        border: 0;
        position: absolute;
        cursor: pointer;
        top: -2px;
        right: -2px;
        filter: alpha(opacity=0);
        opacity: 0;
        font-size: 1000px;
    }

    img{
        position: absolute;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        display:none;
    }

    .icon{
        position: absolute;
        width: 100%;
        height: 100%;
        color:#fff;
        text-align: center;
        font-size: 0.8em;
        i{
            display:block;
            font-size: 3.5em;;
            color:#fff;
        }
    }
}