
.x-loading-spinner{

    font-size: 2em !important;
}


.x-loading-spinner>span {
    font-size: 1em !important;
}

.x-form .x-scroll-container,.x-container{
    /*background-color: transparent !important;*/
}

.slide {
    background-image: url(../../resources/image¨s/bg-clouds.png) !important;
    background-size: cover!important;
    height: 100%!important;
    background-repeat: no-repeat;
    z-index: 1;
    width:100%!important;
}

.backHeader{
    background-image: url(../../resources/images/logo-splash2.png) !important;
    background-color:transparent!important;
    margin-top: 45px;
    /*margin-bottom: 1.2em;*/
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    /*overflow: auto;*/
}

.mInputForm {
    background-color: white!important;
    border: 1px 0.8 #E6E6E6;
    height: 35px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #43708a;
    text-shadow: none;
    font-family: "bariol_lightlight","Trebuchet MS", Arial, Helvetica, sans-serif !important;
    font-size: 12px;
    padding: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px!important;
    border: 1px solid #CCC;

}

.mButton{
    background: rgba(0,155,86,0.8);
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 27px!important;
    width: 100px!important;
    font-family: "bariol_lightlight","Trebuchet MS", Arial, Helvetica, sans-serif ;
    font-size: 12px;
    color: #fff;
    margin-right:auto;
    margin-left: auto;
    padding-top: 7px;


    text-align: center;
    /*-webkit-border-radius: 20px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid #fff;*/
    border-radius: 5px;

}

.mButton2{
    background:none !important;
    border: none;
    text-decoration: none;
    color: rgba(79,71,80,0.9);
    text-align:center;
    font-family: "bariol_lightlight","Trebuchet MS", Arial, Helvetica, sans-serif !important;
    font-size:14px;
    opacity:0.7;
    display: block;
    margin-bottom:25px;
    margin-left: auto;
    margin-right: auto;

}

.mButtonFacebook{
    background: url(../../resources/images/logo-facebook-1024.png) no-repeat scroll center rgba(0, 0, 0, 0);
    text-decoration: none;
    display: block;
    height: 33px;
    font-size:13px;
    width: 222px!important;
    font-family: "bariol_lightlight","Trebuchet MS", Arial, Helvetica, sans-serif !important;
    text-align:center;
    /*margin: 10px 0px 10px 70px !important;*/
    margin-top: 0px;
    padding-left: 30px!important;
    vertical-align: center;
    padding-top: 7px;
    width: 100%;
    opacity: 0.7;
    color:#fff!important;
    margin-left: auto;
    margin-right: auto;
    /*padding: 5px;*/
}

.mLabel{
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    /*font-family: "bariol_lightlight","Trebuchet MS", Arial, Helvetica, sans-serif !important;*/
    color: rgba(79,71,80, 0.8);
    margin: 0.7em 1.5em 0em 1.5em!important;
    text-align: center;
    font-size: 13px;
    background-color: transparent;
}

.mLabel2{
    font-family: "bariol_boldbold","Trebuchet MS", Arial, Helvetica, sans-serif !important;
    color: rgba(5,124,85,0.7);
    /*margin: 0em 0em!important;*/
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}


.mLabel3{
    font-family: "bariol_boldbold","Trebuchet MS", Arial, Helvetica, sans-serif !important;
    margin-top: 35px;
    color: rgba(79,71,80,0.7);
    /*margin: 0em 0em!important;*/
    text-align: center;
    font-size: 20px;


}

.fieldsetlogin .x-form-fieldset-inner{
    background: none!important;
    border: none!important;

}

.item-categorias{ 
    background-color: rgba(000, 000, 000, 0.8); 
    position:relative; 
    padding-left: auto; 
    padding-right: auto; 
    width:46%; 
    height:150px;  
    float:left; 
    z-index:1; 
    margin-top: 5px; 
    margin-left: 2%;
}/*-webkit-box-shadow: 0px 0px 0px 0px #666; box-shadow: 0px 0px 0px 0px #666; margin:0em 0em; overflow:hidden;*/ 

.item-categorias .catbackground{ 
    position: relative;z-index: 1;    
    border: 0px solid transparent;  
    border-color: transparent!important; 
    top: 0px!important; 
    left: 0px!important;
    background-size:cover;  
    height:100%;
    width:100%;
    background-repeat:no-repeat; 
    display:table;



}/*display: block;*/ 

.item-categorias .catbackground h3{
    color: white;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 17px;
    height: inherit;
    background-color: transparent;
    vertical-align: middle;
    display:table-cell;
}


.item-categorias h2{
    font-family:"bariol_regularregular","bariol_regularregular", Arial, Helvetica, sans-serif;  
    font-size:19px; 
    z-index:3;
    color:#6A0888;   
    position:absolute;  
    top:0px; 
    left:0px;  /*text-shadow: 1px 1px 2px #333;*/  
    letter-spacing:0px; 
    background-color:transparent!important;
    border-bottom:1px solid #6A0888;
    height: 60px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
}

.item-categorias h1{
    font-family:"bariol_regularregular","bariol_regularregular", Arial, Helvetica, sans-serif;  
    font-size:27px; 
    z-index:3;
    color:#6A0888;   
    position:absolute;  
    top:0px; 
    right:0px;  /*text-shadow: 1px 1px 2px #333;*/  
    letter-spacing:0px; 
    background-color:transparent!important;
    border-left:1px solid #6A0888;
    height: 60px;
    width: 60px;
    padding-top: 12px;
    text-align: center!important;
    vertical-align: center!important;
}






